<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Menu Principal - Flask</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='main.css') }}"
		/>
	</head>
	<body style="padding: 20px">
		<table border="2px">
			<thead>
				<tr>
					<th>Menu Principal</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="adicionar_categoria">Adicionar Categoria</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="remover_categoria">Remover Categoria</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="eventos_reposicao">Listar Eventos de Reposição</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="sub_categorias">Listar Sub-Categorias</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
